Source: airapps-fixes
Section: x11
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4

Package: airapps-fixes
Architecture: all
Section: x11
Replaces: zero-lliurex-scratch2(<<0.2.5)
Conflicts: zero-lliurex-scratch2(<<0.2.5)
Breaks: zero-lliurex-scratch2(<<0.2.5)
Description: Fixes for air applications
 This package constains fixes for issues with some air apps
 
